In [19]:
import pandas as pd
df_employees=pd.read_csv('data/employees.csv')
df_system_access=pd.read_csv('data/system_access.csv')

In [20]:
df_system_access['id'] = 'EMP' + df_system_access['id'].astype(str).str.zfill(6)
df_system_access.head()

          id    access_level
0  EMP017263   Account Admin
1  EMP010275  Contract Entry
2  EMP007568  Contract Entry
3  EMP021986   Account Admin
4  EMP020614   Account Admin

In [21]:
df_employees.head()

,employee_number,first_name,last_name,email,title
0,EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales
1,EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant
2,EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant
3,EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant
4,EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager